/* Scss Document */

.center{
	text-align: center;
	font-size: 2em;
	 position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
	  width: 100%;
  height: 2em;
}

.top-back{
	background-color:#1e1e1e;
	height: 100vh;
	width: 100%;
}

body{
	cursor: default;
}

.logo{
	height:20vh;
	img{
		height:90%;
	}
}

.row-fluid {
        height: 100vh;
        display: table-cell;
	width: 100vw;
        vertical-align: middle;
    }

.copy{
	font-weight: normal;
	font-size: 2em;
	letter-spacing: 1px;
}

.section{
	height: 100vh;
}