/* Scss Document */
.center {
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  width: 100%;
  height: 2em; }

.top-back {
  height: 100vh;
  width: 100%; }

body {
  cursor: default;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  color: #333; }

.logo {
  height: 20vh; }
  .logo img {
    height: 90%; }

.row-fluid {
  height: 100vh;
  display: table-cell;
  width: 100vw;
  vertical-align: middle; }

.copy {
  margin-top: -2em;
  font-weight: normal;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #808080;
  font-family: halyard-micro, sans-serif;
  font-weight: 100;
  font-style: normal; }

.back-gray {
  background-color: #1e1e1e; }

.back-white {
  background-color: #ffffff; }

.midashi {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal; }

.bold {
  font-family: a-otf-futo-go-b101-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal; }

p {
  margin-top: 2em; }

.section {
  padding: 4em; }

a {
  color: #ffb600;
  position: relative;
  display: inline-block;
  text-decoration: none; }
  a:hover {
    color: #ffb600;
    text-decoration: none; }
    a:hover:after {
      transform: scale(1, 1); }
  a:after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #ffb600;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s; }

.br {
  display: inline-block; }
